.main-container{
    /*background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    */
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}
/* Levels Link */
.levels-link{
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.levels{
    position: relative;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em 0.6em;
    border: 3px solid brown;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.fa-bars{
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
    color: brown;
}
/* Coins */
.coins-div{
    position: absolute;
    top: 0.5em;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7em;
}

.coins-image{
    width: 3em;
    height: 3em;
}

.coins{
    font-size: 4em;
}
/* Store link */
.store-link{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.store{
    position: relative;
    right: 0;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em 0.5em;
    border: 3px solid brown;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.fa-store{
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
    color: brown;
}

.levels-link:hover, .store-link:hover{
    transform: scale(1.1);
}

.miner{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%)
    scale(0.1);
    filter: drop-shadow( 0px 0px 2em black);
    /* transition: left 2s ease-in-out, top 0.4s ease-in-out;  */
    transform-origin: center center;
    z-index: 1;
    pointer-events: none;
}

.sky{
    grid-row: span 1;
    background: url('images/try-game-background.png');
    background-size: cover; /* This will make the image cover the width and height of the container */
    background-repeat: no-repeat;
    background-position: center bottom;
}

.blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: pink;
    grid-row: span 1;
    position: relative;
    flex-wrap: wrap;
    background: url('images/game-lower-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.block{
    width: 11%;
    aspect-ratio: 1 / 1;
    position: relative;
    filter: drop-shadow(0px 0px 5px yellow);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:hover{
    transform: scale(1.1);
}

.block img{
    width: 100%;
    height: 100%;
}


/*Breaking the blocks*/
.breaking-container{
    background: rgba(249, 195, 18, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    visibility: hidden;
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    width: 40%;
    padding: 2em 0em;
    border-radius: 3em;
    z-index: 2;
    align-self: flex-start;
    justify-self: center;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.4s ease-in-out;
}

.breaking-container h1{
    margin-top: 15px;
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.meter{
    position: relative;
    width: 90%;
    height: 2.3em;
    border: 3px solid black;
    border-radius: 15px;
    background: linear-gradient(to right, green, yellow, red);
    cursor: pointer;
    z-index: 2;
}

.meter-stop {
    content: '';
    background: black;
    width: 10px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: moveMeter 1.5s infinite; /* Animation duration is 1.5 seconds */
    z-index: 2;
}

@keyframes moveMeter {
    0% {
        left: 0; /* Initial position at the left */
    }
    50% {
        left: 95%; /* Move to the middle at 50% of the animation */
    }
    100% {
        left: 0; /* Return to the initial position at the end of the animation */
    }
}

.block-to-break{
    justify-self: flex-end;
    width: 65%;
    aspect-ratio: 1 / 1;
    margin-top: auto;
}

.resilience{
    font-size: 4em;
    color:brown;
    font-family: cursive;
    margin: 0.7em;
}

.miner-swing{
    visibility: hidden;
    position: absolute;
    z-index: 3;
    width: 18em;
    height: 18.5em;
    left: 50%; /* Position relative to parent (.miner) */
    top: 50%; /* Position relative to parent (.miner) */
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/*This is ready code for later to fix the miner animation
.miner-animation{
    position: absolute;
    z-index: 3;
    width: 18em;
    height: 18.5em;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}*/

.artifact-container{
    position: absolute;
    align-self: center;
    justify-self: center;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
    background: white;
}

@media only screen and (max-width: 600px){
    .main-container{
        width: 100vw;
        height: 100vh;
    }
    .block{
        width: 21%;
    }
}