.main-container{
    grid-template-rows: repeat(2, 1fr);
}
.main-container-second-level{
    grid-template-rows: repeat(3, 1fr);
    background: url('images/background-level-two.png');
    background-size: cover;
}
.main-container-third-level{
    background: url('images/background-level-three.png');
    background-size: cover;
    grid-template-rows: repeat(3, 1fr);

}

.main-container, .main-container-second-level, .main-container-third-level{
    max-width: 100%;
    height: 100vh;
    display: grid;
    position: relative;
    overflow: hidden;
}
/* Levels Link $$$$$$$$$$$$$$$$$$$$$$$*/
.levels-link{
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.levels-link-container{
    position: relative;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em 0.6em;
    border: 3px solid brown;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.fa-bars{
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
    color: brown;
}

/* Coins $$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.coins-div{
    position: absolute;
    top: 0.5em;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7em;
}

.coins-image{
    width: 3em;
    height: 3em;
}

.coins{
    font-size: 4em;
}

/* Store link $$$$$$$$$$$$$$$$$$$$$$$*/
.store-link{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.store-link-container{
    position: relative;
    right: 0;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em 0.5em;
    border: 3px solid brown;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.fa-store{
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
    color: brown;
}

/* Links hover effects $$$$$$$$$$$$$$$$$$*/
.levels-link:hover, .store-link:hover{
    transform: scale(1.1);
}

/* Setting the background $$$$$$$$$$$$$$$$$*/
.background-upper-part{
    grid-row: span 1;
    background: url('images/try-game-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.background-upper-part-level-two{
    grid-row: span 1;
}

.background-upper-part-level-three{
    grid-row: span 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
/* Styling the blocks $$$$$$$$$$$$$$$$$$$$ */
.blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: pink;
    grid-row: span 1;
    position: relative;
    flex-wrap: wrap;
    background: url('images/game-lower-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.blocks-second-level{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-row: span 2;
    position: relative;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.blocks-third-level{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-row: span 2;
    position: relative;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.block{
    width: 11%;
    aspect-ratio: 1 / 1;
    position: relative;
    filter: drop-shadow(0px 0px 5px yellow);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:hover{
    transform: scale(1.1);
}

.block img{
    width: 100%;
    height: 100%;
}


/*Breaking the blocks*/
.breaking-container{
    background: url('images/reality-background.png');
    background-size: 15em 15em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    visibility: hidden;
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    width: 40%;
    padding: 0em 0em 1em 0em;
    border-radius: 3em;
    z-index: 2;
    align-self: flex-start;
    justify-self: center;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.4s ease-in-out;
}

.resilience{
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: cursive;
    margin: 0.7em;
}

.meter{
    position: relative;
    width: 90%;
    height: 2.3em;
    border: 3px solid black;
    border-radius: 15px;
    background: linear-gradient(to right, green, yellow, red);
    cursor: pointer;
    z-index: 2;
}

.meter-stop {
    content: '';
    background: black;
    width: 10px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: moveMeter 1.5s infinite;
    z-index: 2;
}

/* Animation to move the stop from the left to the right */
@keyframes moveMeter {
    0% {
        left: 0; /* Initial position at the left */
    }
    50% {
        left: 95%; /* Move to the middle at 50% of the animation */
    }
    100% {
        left: 0; /* Return to the initial position at the end of the animation */
    }
}

.block-to-break{
    justify-self: flex-end;
    width: 65%;
    aspect-ratio: 1 / 1;
    margin-top: auto;
}

/* Miner styling $$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.miner{
    position: absolute;
    left: 50%;
    top: 30%;
    width: 9em;
    transform: translate(-50%, -50%);
    filter: drop-shadow( 0px 0px 2em black);
    transform-origin: center center;
    z-index: 1;
    pointer-events: none;
}

.miner-level-two{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 9em;
    transform: translate(-50%, -50%);
    filter: drop-shadow( 0px 0px 2em black);
    transform-origin: center center;
    z-index: 1;
    pointer-events: none;
}

.miner-level-three{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 9em;
    transform: translate(-50%, -50%);
    filter: drop-shadow( 0px 0px 2em black);
    transform-origin: center center;
    z-index: 1;
    pointer-events: none;
}
.miner-swing{
    visibility: hidden;
    position: absolute;
    z-index: 3;
    width: 18em;
    height: 18.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* Artifacts styling $$$$$$$$$$$$$$$$$$$$$$$ */
.artifact-container{
    position: absolute;
    align-self: center;
    justify-self: center;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
    background-color:beige;
    border-radius: 3em;
    padding: 10px;
    text-align: center;
    width: 50%;
}
.artifact-container img{
    width: 50%;
    position: relative;
}

.artifact-container h1{
    font-weight: 600;
    font-size: 1em; 
    margin-block: 0.5em;
    font-family: cursive;
}

.artifact-container p{
    font-size: 1em;
    font-family: cursive;
}


/* Media queries $$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media only screen and (max-width: 1000px) and (min-width: 900px){
    .resilience{
        font-size: 3em;
    }
}
@media only screen and (max-width: 900px) and (min-width: 750px){
    .miner{
        width: 7.5em;
    }
    .miner-swing{
        width: 15em;
        height: 15em;
    }
    .resilience{
        font-size: 2.4em;
    }
}

@media only screen and (max-width: 750px) and (min-width: 600px){
    .miner{
        width: 6em;
    }
    .miner-swing{
        width: 12em;
        height: 12em;
    }
    .resilience{
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px){
    .main-container{
        width: 100vw;
        height: 100vh;
    }
    .block{
        width: 21%;
    }
    .miner{
        width: 6.5em;
    }
    .miner-swing{
        width: 12.5em;
        height: 12em;
    }
    .breaking-container{
        width: 80%;
    }
    .resilience{
        font-size: 2.5em;
    }
}