.main-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/reality-background.png');
    background-repeat: repeat;
    background-size: 30em 30em;
}

/*Main Heading $$$$$$$$$$$$$$$$$$*/
.main-container h1:nth-of-type(1){
    font-size: 5em;
    margin-block: 0.6em 0.5em;
    color: white;
    text-shadow: 2px 2px 5px black;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Levels Styling $$$$$$$$$$$$$$$$$$$$$ */
.levels-container{
    margin-top: 6em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12em;
}

.level{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    z-index: 1;
    /*Glassmorphism Effect $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 7px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

/*Round The Link Space For The Levels $$$$$$$$$$$$$$$*/
.level-one-link{
    border-radius: 50%;
}

.second-level-image{
    filter: brightness(1);
}

.third-level-image{
    filter: brightness(0.4);
}

/*Locked Levels Shaking Animation $$$$$$$$$$$$$$$$$$$$$$$$*/
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px) rotate(0.5deg); }
    50% { transform: translateX(5px) rotate(-0.5deg); }
}

.chained-level:hover {
    animation: shake 0.5s ease-in-out forwards;
}

.level:not(.chained-level):hover{
    transform: scale(1.05);
}

.level .level-image{
    transform: scale(0.4);
    pointer-events: none;
    width: 150%;
}

.level .chains{
    position: absolute;
    transform: scale(0.5);
    pointer-events: none;
}

.chained-level{
    filter:brightness(50%);
    transition: transform 0.3s ease-in-out;
}

/* Styling of the central line $$$$$$$$$$$$$$$$$$$$$$$*/
.central-line{
    position: absolute;
    width: 5px;
    height: 80%;
    background: white;
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

/* Media queries $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
@media only screen and (max-width: 700px) and (min-width: 600px){
    .main-container h1:nth-of-type(1){
        font-size: 4em;
        margin-block: 0.6em 0.5em;
    }
}

@media only screen and (max-width: 600px){
    .main-container h1:nth-of-type(1){
        font-size: 3em;
        margin-block: 0.6em 0.5em;
    }
}